{% block sw_cms_element_youtube_video_config_display_mode %}
    {% parent %}

    <sw-container columns="repeat(auto-fit, minmax(250px, 1fr)" gap="0px 30px">
        <sw-cms-mapping-field :label="$tc('sw-media.sidebar.sections.preview')" valueTypes="entity" entity="media" v-model="element.config.previewImage">
            <sw-media-upload-v2 variant="regular"
                                :uploadTag="uploadTag"
                                :source="previewImage"
                                :allowMultiSelect="false"
                                :defaultFolder="cmsPageState.pageEntityName"
                                :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
                                @media-upload-sidebar-open="onOpenMediaModal"
                                @media-upload-remove-image="onImageRemove">
            </sw-media-upload-v2>

            <div class="sw-cms-el-config-image__mapping-preview" slot="preview" slot-scope="{ demoValue }">
                <img :src="demoValue.url" v-if="demoValue.url">
                <sw-alert class="sw-cms-el-config-image__preview-info" variant="info" v-else>
                    {{ $tc('sw-cms.detail.label.mappingEmptyPreview') }}
                </sw-alert>
            </div>
        </sw-cms-mapping-field>

        <sw-media-modal-v2
            variant="regular"
            v-if="mediaModalIsOpen"
            :caption="$tc('sw-cms.elements.general.config.caption.mediaUpload')"
            :entityContext="cmsPageState.entityName"
            :allowMultiSelect="false"
            :initialFolderId="cmsPageState.defaultMediaFolderId"
            @media-upload-remove-image="onImageRemove"
            @media-modal-selection-change="onSelectionChanges"
            @modal-close="onCloseModal">
        </sw-media-modal-v2>

        <sw-upload-listener
            :uploadTag="uploadTag"
            autoUpload
            @media-upload-finish="onImageUpload">
        </sw-upload-listener>
    </sw-container>
{% endblock %}
